.header{
    background: url("hero4.png");
    background-size: cover;
    height: 90vh;
    width: 100%;
    background-position: top 25% right 0;
    padding: 0 90px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.header h4{
    font-size: 20px;
    color: #222;
    padding-bottom: 15px;
}
.header h2{
    font-size: 46px;
    color: #222;
    padding-bottom: 9px;
}
.header h1{
    font-size: 50px;
    color: #088178;
    padding-bottom: 15px;

}
.header p{
    font-size: 16px;
    color: #455b52;
    padding-bottom: 15px;
}
.header button{
    border: 0;
    background-image: url("../../assets/button.png");
    background-color: transparent;
    padding: 14px 80px 14px 65px;
    font-weight: 700;
    color: #088178;
    background-repeat: no-repeat;
    cursor: pointer;
    font-size: 15px;
}